.wrapper

  = render "header"

  .scene
    .scene__lists
      - @scenes.each do |scene|
        .scene__lists__list
          .scene__lists__list__img
            = image_tag scene.image.url, class: 'image'
          .scene__lists__list__info
            .scene__lists__list__info__comment
              Title：
              = scene.text
            .scene__lists__list__info__area
              Area：
              = scene.area
            .scene__lists__list__info__date
              Season：
              = scene.date
            .scene__lists__list__info__name
              投稿者：
              = scene.user.name
            .scene__lists__list__info__user
            - if user_signed_in? && current_user.id == scene.user_id
              = link_to "編集", "/scenes/#{scene.id}/edit", class: 'btn', method: :get
              = link_to "削除", "/scenes/#{scene.id}", class: 'btn',method: :delete 
            = link_to '詳細', "/scenes/#{scene.id}", class: 'btn',method: :get
    .scene__icon
      = link_to new_scene_path do
        %i.fas.fa-paper-plane{"aria-hidden": "true"}

  = render "footer"