.wrapper
  .header
    .header__title
      Kiraku Share
    .header__right
      - if user_signed_in? && current_user.id
        .header__right__regist
          = current_user.name
        .header__right__login
          = link_to "ログアウト", destroy_user_session_path, method: :delete
  .scene
    .scene__lists
      - @scenes.each do |scene|
        .scene__lists__list
          .scene__lists__list__img
            = image_tag scene.image.url, class: 'image'
          .scene__lists__list__info
            .scene__lists__list__info__comment
              Title：
              = scene.text
            .scene__lists__list__info__area
              Area：
              = scene.area
            .scene__lists__list__info__date
              Season：
              = scene.date
            .scene__lists__list__info__like
              ♡いいね：3
            = link_to "編集", "/scenes/#{scene.id}/edit", class: 'henshu', method: :get
            = link_to "削除", "/scenes/#{scene.id}", class: 'sakujo',method: :delete 
            = link_to '詳細', "/scenes/#{scene.id}", class: 'shousai',method: :get
    .scene__icon
      = link_to new_scene_path do
        %i.fas.fa-paper-plane{"aria-hidden": "true"}
  .footer
    kirakushare 2020