= render "header"

.container
  投稿フォーム
  .container__preview
    %p プレビュー
    = image_tag @scene.image.to_s, id: 'img'
  .container__new
    = form_for [@scene] do |f|
      -# = f.label :image, class: 'form' do
      -#   = icon('fas', 'camera-retro', class: 'camera')
      = f.file_field :image, class: 'file', id: 'image_file'
      .feel
        %p.word 感想
        = f.text_field :text, class: 'feel__text', placeholder: "例：キレイ" , rows: "10"
      .go
        %p.word 地域or観光地
        = f.text_field :area, class: 'go__area', placeholder: "例：愛知県名古屋市" , rows: "10"
      .season
        %p.word 日付or時期
        = f.text_field :date, class: 'season__date', placeholder: "例：3月" , rows: "10"
      = f.submit "投稿する", class:'submit'

= render "footer"